@import url("leaflet/dist/leaflet.css");
@import "tailwindcss";

:root {
  --background: #0b1425;
  --border: #7474743b;
  --font-color:#ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b1425;
    --foreground: #ededed;
  }
}
* {
  box-sizing: border-box;
}
.bg-asli{
  background: var(--background);
}
.text-asli{
  color: var(--font-color);
}
.border-asli{
  border-color: var(--border);
}

body {
  overflow-x: hidden;
  font-family: var(--font-iran-sans), sans-serif;
  background: #0b1425;
  color: #ededed;
  width: 100%;
  height: 100vh;
}
.custom-shadow{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.z-full{
  z-index: 9999999;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-blue-500/30; 
  border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-500/50; 
 
}
.globe-container{
  background-color: red !important;
  width: 210px !important;
}
.scene-container & .scene-container canvas{
  max-width: 100% !important;
  width: 210px !important;
  max-height: 100% !important;
}
